"*":
  core:
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "base16-tomorrow-light-theme"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    tabLength: 2
  "exception-reporting":
    userId: "da976a4b-6a5d-3f34-7d9b-6bfdb74474ed"
  "git-diff":
    showIconsInEditorGutter: true
  linter: {}
  "linter-clang":
    execPath: "/usr/bin/clang"
    verboseDebug: true
  "linter-pylint":
    executable: "/usr/local/bin/pylint"
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: true
